<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="sescom_apiKey" value=""/>
    <add key="cample_apiKey" value=""/>
    <add key="laird_apiKey" value=""/>
    <add key="omx_apiKey" value=""/>
    <add key="mcs_apiKey" value=""/>
    <add key="delv_apiKey" value="e4d61b9917dd4b6f81b72f0ab13bd498"/>
    <add key="baseURI" value="https://sandbox.jetbuilt.com"/>
    <add key="psScriptFilePath" value="C:\Users\apineiro\source\repos\JetbuiltAPI\JetbuiltAPI\Scripts"/>
    <add key="productsFilePath" value="C:\Users\apineiro\source\repos\JetbuiltAPI\JetbuiltAPI\Output"/>
  </appSettings>
</configuration>