<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="sescom_apiKey" value="fb740cf571d38fb85979195e638adaf2"/>
    <add key="cample_apiKey" value="20c6bab52af53b8f7aa47c12255ea573"/>
    <add key="laird_apiKey" value="f11b498dcf5069056ea68336247797ed"/>
    <add key="omx_apiKey" value="b624cb93426a7345a350c8a98bdbfea3"/>
    <add key="mcs_apiKey" value="b8ce087e439b0af8cf965b83231db40e"/>
    <add key="delv_apiKey" value="e4d61b9917dd4b6f81b72f0ab13bd498"/>
    <add key="baseURI" value="https://sandbox.jetbuilt.com"/>
    <add key="psScriptFilePath" value="C:\Users\apineiro\source\repos\JetbuiltAPI\JetbuiltAPI\Scripts"/>
    <add key="productsFilePath" value="C:\Users\apineiro\source\repos\JetbuiltAPI\JetbuiltAPI\Output"/>
  </appSettings>
</configuration>